<!DOCTYPE html>
<html>
  <head>
    <title>WebZoo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
  </head>
  <div id="container">
    <div id= "header">
      <header>
        <ul class= "a-main-header__homepage">
          <li class="text"><p>WebZoo: One stop shop for your exotic animal needs!</p></li>
          <li class="icon"><i class="fa fa-user-o" aria-hidden="true" fa-5x></i></li>
        </ul>
        <div class="signin">
        <p>Hello. Sign in</p>
        <%= form_tag '/login' do %>
        <i class="fa fa-envelope" aria-hidden="true"></i> Email <%= text_field_tag :email %>
        <i class="fa fa-key" aria-hidden="true"></i>Password <%= password_field_tag :password %>
        <%= submit_tag "Login" %>
        <% end %>
        <% if current_user %>
           Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %> | <%= link_to "Cart", '/cart' %> | <%= link_to "Listings", '/products'%> | <%= link_to "Comments", '/reviews'%>
        <% else %>
          <%= link_to 'Signup', '/signup' %>
        <% end %>
        <div class="homebutton">
        <a href="http://localhost:3000/"><i class="fa fa-home fa-2x"></i></a>
        </div
          </header>
          
 </div>
      <body>
        <%= yield %>
      </body>
    </div>
    <div id="footer">
      <div class = "footer">
      </div>
    </div>
  </div>
</html>
